{% if actions %}
    <div class="row">
        <div class="col-lg-12">
            {% for action in actions %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <td colspan="5">
                            {{ action.website.title }}
                        </td>
                        <td>
                            {{ action.createdAt.dateTime }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Url
                        </th>
                        <th>
                            Referrer
                        </th>
                        <th>
                            Language
                        </th>
                        <th>
                            Browser
                        </th>
                        <th>
                            Operating System
                        </th>
                        <th>
                            Device
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{ action.website.url }}
                        </td>
                        <td>
                            {% if action.referrer %}{{ action.referrer }}{% else %}none {% endif %}
                        </td>
                        <td>
                            {{ action.language }}
                        </td>
                        <td>
                            {{ action.browser.name }}
                        </td>
                        <td>
                            {{ action.os.name }} {{ action.os.version }}
                        </td>
                        {% if action.device.isMobile %}
                            <td>{{ action.device.name }}</td>
                        {% else %}
                            <td>
                                <i class="glyphicon glyphicon-remove"></i>
                            </td>
                        {% endif %}
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>
{% endif %}
