<table class="table table-bordered table-striped">
    <tr>
        <td colspan="7">
            {{ visit.website.title }}
        </td>
        <td>
            {{ visit.createdAt.dateTime }}
        </td>
    </tr>
    <tr>
        <th>
            First Page
        </th>
        <th>
            Last Page
        </th>
        <th>
            Referrer
        </th>
        <th>
            NbOfActions
        </th>
        <th>
            Language
        </th>
        <th>
            Browser
        </th>
        <th>
            Operating System
        </th>
        <th>
            Device
        </th>
    </tr>
    <tr>
        <td>
            {{ visit.firstPage.url }}
        </td>
        <td>
            {{ visit.lastPage.url }}
        </td>
        <td>
            {% if visit.referrer %}{{ visit.referrer }}{% else %}none {% endif %}
        </td>
        <td>
            {{ visit.nbOfActions }}
        </td>
        <td>
            {{ visit.language }}
        </td>
        <td>
            {{ visit.browser.name }}
        </td>
        <td>
            {{ visit.os.name }} {{ visit.os.version }}
        </td>
        {% if visit.device.isMobile %}
            <td>{{ visit.device.name }}</td>
        {% else %}
            <td>
                <i class="fa fa-times"></i>
            </td>
        {% endif %}
    </tr>
    {% if visit.actions %}
        <tr>
            <td colspan="8" style="padding: 0px;">
                <table class="table table-striped" style="margin-bottom: 0px; border-top: 0px; border-bottom:0px;">
                    <tr>
                        <th>
                            Referrer
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Url
                        </th>
                    </tr>
                    {% for action in visit.actions %}
                        <tr>
                            <td>
                                {{ action.referrer }}
                            </td>
                            <td>
                                {{ action.page.title }}
                            </td>
                            <td>
                                {{ action.page.url }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endif %}
</table>
