{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Visits <small>list</small></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if visits %}
            <div class="row">
                <div class="col-lg-12">
                    {% for visit in visits %}
                        {% include 'visit/_visit.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
